absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
albumentations==1.3.1
alembic==1.8.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
autopage==0.5.1
av==9.2.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
chainer==7.8.1
chainercv==0.13.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.7
cliff==3.10.1
cloudpickle==2.1.0
cmaes==0.8.2
cmd2==2.4.1
colorlog==6.6.0
cosine-annealing-warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup@12d03c07553aedd3d9e9155e2b3e31ce8c64081a
cryptography==41.0.3
cupy-cuda113==10.3.1
cycler==0.11.0
Cython==0.29.30
databricks-cli==0.16.7
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docker==5.0.3
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.4
executing==0.8.3
face-alignment==1.3.5
faiss-cpu==1.7.4
fastdtw==0.3.4
fastjsonschema==2.15.3
fastrlock==0.8
ffmpeg-python==0.2.0
filelock==3.6.0
Flask==2.1.2
flatbuffers==23.5.26
fonttools==4.32.0
frozenlist==1.3.0
fsspec==2022.3.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.56.2
gunicorn==20.1.0
h5py==3.7.0
huggingface-hub==0.16.4
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
HyperPyYAML==1.0.1
idna==2.10
imageio==2.19.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
japanese-clip @ git+https://github.com/rinnakk/japanese-clip.git@374e08d48b9ba72fcaf7459af4f8c93caffd6fb3
japanize-matplotlib==1.1.3
jedi==0.18.1
Jinja2==3.1.1
jiwer==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kaggle==1.5.16
keras==2.13.1
kiwisolver==1.4.2
libclang==16.0.6
librosa==0.8.1
lightning-utilities==0.9.0
llvmlite==0.31.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mecab-python3==1.0.5
-e git+ssh://git@github.com/kabulab/mel2wav.git@5e6607c17f5e143a92955ccb685f2133dcad8725#egg=mel2wav
memory-profiler==0.60.0
missingno==0.5.2
mistune==0.8.4
mlflow==1.26.1
multidict==6.0.2
multiprocess==0.70.12.2
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8.3
nnmnkwii==0.1.1
notebook==6.4.11
numba==0.48.0
numpy==1.23.5
oauthlib==3.2.0
omegaconf==2.3.0
opencv-python==4.6.0.66
opencv-python-headless==4.8.0.74
opt-einsum==3.3.0
optuna==2.10.1
packaging==21.3
pandas==1.2.4
pandocfilters==1.5.0
paramiko==3.3.1
parso==0.8.3
pathtools==0.1.2
pbr==5.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
plac==1.3.5
pooch==1.6.0
prettytable==3.3.0
progressbar2==4.2.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydub==0.25.1
Pygments==2.11.2
PyJWT==2.4.0
PyNaCl==1.5.0
pyopenjtalk==0.3.0
pyparsing==3.0.8
pyperclip==1.8.2
pyreaper==0.0.8
pyrsistent==0.18.1
pysptk==0.1.20
python-dateutil==2.8.2
python-slugify==8.0.1
python-utils==3.7.0
pytorch-metric-learning==2.3.0
pytz==2022.1
pyvad==0.1.3
PyWavelets==1.3.0
pyworld==0.3.0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
qudida==0.0.4
querystring-parser==1.2.4
rapidfuzz==3.3.0
regex==2022.3.15
requests==2.25.1
requests-oauthlib==1.3.1
resampy==0.2.2
romkan==0.2.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sacremoses==0.0.49
safetensors==0.3.1
scikit-image==0.19.3
scikit-learn==1.0.2
scikit-video==1.1.11
scipy==1.8.0
scp==0.14.5
seaborn==0.12.2
Send2Trash==1.8.0
sentencepiece==0.1.94
sentry-sdk==1.5.12
setproctitle==1.2.3
shortuuid==1.0.9
six==1.16.0
smmap==5.0.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
sox==1.4.1
speechbrain==0.5.11
SQLAlchemy==1.4.37
sqlparse==0.4.2
stack-data==0.2.0
stevedore==3.5.0
tabulate==0.8.9
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.13.3
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2022.5.4
timm==0.9.2
tinycss2==1.1.1
tokenizers==0.13.3
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchmetrics==1.0.0
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.31.0
typing_extensions==4.1.1
ultralytics==8.0.148
umap==0.1.1
unidic==1.1.0
urllib3==1.26.9
wandb==0.12.17
wasabi==0.9.1
-e git+ssh://git@github.com/kabulab/wavenet.git@7eb8daa18cf5ce215b6149d12779f48d98a9f2ab#egg=wavenet
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.3.2
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wrapt==1.15.0
xvector_jtubespeech==0.0.2
xxhash==3.0.0
yarl==1.7.2
zipp==3.8.0
